{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person list</h1>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone }}</td>
                <td>
                    <a href="{{ path('person_show', { 'id': person.id }) }}" class="btn btn-info">show</a>
                    &nbsp;
                    <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('person_new') }}" class="btn btn-success">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
