{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success" />
        &nbsp;
        <a href="{{ path('person_index') }}" class="btn btn-info">Back to the list</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('form input[type="submit"]').addClass('btn btn-success');
        });
    </script>
{% endblock %}
