{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendance list</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Attended</th>
                <th>Filled Form</th>
                <th>Pay Method</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td><a href="{{ path('attendance_show', { 'id': attendance.id }) }}">{{ attendance.id }}</a></td>
                <td>{{ attendance.person.firstName }}</td>
                <td>{{ attendance.person.lastName }}</td>
                <td>{{ attendance.person.email }}</td>
                <td>{% if attendance.attended %}Yes{% else %}No{% endif %}</td>
                <td>{% if attendance.filledForm %}Yes{% else %}No{% endif %}</td>
                <td>{{ attendance.paymethod.name }}</td>
                <td>
                    <a href="{{ path('attendance_show', { 'id': attendance.id }) }}" class="btn btn-info">show</a>
                    &nbsp;
                    <a href="{{ path('attendance_edit', { 'id': attendance.id }) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('event_show', {'id': event.id}) }}" class="btn btn-info">Back to Event</a>
        </li>
        <li>
            <a href="{{ path('attendance_new', {'event': event.id}) }}" class="btn btn-success">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
