{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendance creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success" />
        &nbsp;
        <a href="{{ path('attendance_index') }}" class="btn btn-info">Back to the list</a>
    {{ form_end(form) }}
{% endblock %}
