{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendance</h1>

    <table  class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attendance.id }}</td>
            </tr>
            <tr>
                <th>Attended</th>
                <td>{% if attendance.attended %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Filledform</th>
                <td>{% if attendance.filledForm %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('attendance_by_event', {'id': attendance.event.id}) }}" class="btn btn-info">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('attendance_edit', { 'id': attendance.id }) }}" class="btn btn-warning">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
