{% extends 'base.html.twig' %}

{% block body %}
    <h1>PaymentType edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p class="pull-left">
            <input type="submit" value="Edit" class="btn btn-warning" />
            &nbsp;
        </p>
    {{ form_end(edit_form) }}

    <p class="pull-left">
        <a href="{{ path('paymenttype_index') }}" class="btn btn-info">Back to the list</a>
        &nbsp;
    </p>
    <p class="pull-left">
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </p>
{% endblock %}
