{% extends 'base.html.twig' %}

{% block body %}
    <h1>PaymentType list</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paymentType in paymentTypes %}
            <tr>
                <td><a href="{{ path('paymenttype_show', { 'id': paymentType.id }) }}">{{ paymentType.id }}</a></td>
                <td>{{ paymentType.name }}</td>
                <td>
                    <a href="{{ path('paymenttype_show', { 'id': paymentType.id }) }}" class="btn btn-info">show</a>
                    &nbsp;
                    <a href="{{ path('paymenttype_edit', { 'id': paymentType.id }) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('paymenttype_new') }}" class="btn btn-success">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
