{% extends 'base.html.twig' %}

{% block body %}
    <h1>PaymentType</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paymentType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ paymentType.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('paymenttype_index') }}" class="btn btn-info">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paymenttype_edit', { 'id': paymentType.id }) }}" class="btn btn-warning">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
