{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event list</h1>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Location</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.name }}</td>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.latitude }}</td>
                <td>{{ event.longitude }}</td>
                <td>
                    <a href="{{ path('event_show', { 'id': event.id }) }}" class="btn btn-info">show</a>
                    &nbsp;
                    <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('event_new') }}" class="btn btn-success">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
